.App {
  text-align: center;
  background-color: rgb(23, 23, 158);
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  width: 35%;
  margin-top: 2em;
  border: 3px solid black;
  border-radius: 20px;
  padding: 1em;
}
